.git
.github
.pytest_cache
.venv
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.mash
.mash-data
dist
node_modules
src/mash/telemetry/web/node_modules
src/mash/telemetry/web/dist
packages/mash-api/build
packages/mash-cli/build
packages/mash-telemetry-web/build
